**Importing libraries**

In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np

In [5]:
import pandas as pd
df=pd.read_csv( r"C:\Users\LENOVO\Downloads\Python/WA_Fn-UseC_-HR-Employee-Attrition.csv")
#copying the variable so that we can modify the data in copied version
df_copy=df.copy()

In [6]:
#Information dekhauxa
print(df_copy.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB
None

In [ ]:

#Null values haru dekhauxa
#df_copy.isnull().sum()

# Print the count of each category in the 'MentalHealth' column to verify
print(df_copy["MentalHealth"].value_counts())

In [ ]:
#Showing columns
print(df.columns)

In [ ]:
df_copy.isnull().sum()

In [ ]:
import seaborn as sns

sns.violinplot(df_copy["Age"])

In [ ]:
#df_copy["StockOptionLevel"].value_counts()
sns.boxplot(df_copy["StockOptionLevel"])

#Detection of outlier

In [ ]:
for i in df_copy.select_dtypes(include=['int64', 'float64']).columns:
    q1 = df_copy[i].quantile(0.25)
    q3 = df_copy[i].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - iqr * 1.5
    upper_bound = q3 + iqr * 1.5

    outliers = df_copy[(df_copy[i] < lower_bound) | (df_copy[i] > upper_bound)]
    if not outliers.empty:
        print(f"Outliers found in column '{i}': ")

    # else:
    #     print(f"No outliers found in column '{i}'.")

**Converting attrition column to categories**

In [ ]:

df_copy["Attrition"]=df_copy["Attrition"].map({"Yes":1,"No":0,1:1, 0:0})
#.map le numeric ma convert gardinxa Like 1 for Yes and 0 for No
#Last ko 0:0 ra 1:1 chai error na aaos vanna lai matrai hoo
print(df_copy["Attrition"])

In [ ]:
print(df_copy['BusinessTravel'].head())

In [ ]:
df_copy['BusinessTravel']=df_copy["BusinessTravel"].map({"Travel_Rarely":1,"Travel_Frequently":2,"Non-Travel":0,0:0,1:1,2:2})
#.map le Tyo specific values ma number haru halxa like Travel_Rarely" ma 1...
#0:0,2:2 rakhda Error aaudaina
print(df_copy['BusinessTravel'].head())

In [ ]:
df_copy["OverTime"].head()

In [ ]:
df_copy["OverTime"]=df_copy['OverTime'].map({"Yes":1,"No":0,0:0,1:1})
df_copy["OverTime"].head()

In [ ]:
df_copy["MaritalStatus"].head()

In [ ]:
M="Married"
S="Single"
D="Divorced"
df_copy["MaritalStatus"]=df_copy["MaritalStatus"].map({S:0,M:1,D:-1, -1:-1,1:1,0:0})
print(df_copy["MaritalStatus"].head())

In [ ]:
df_copy["Over18"]=df_copy["Over18"].map({"Y":1,"N":0,0:0,1:1})
print(df_copy["Over18"].head())

pd.cut() function to group and label them

In [ ]:
df_copy["DistanceFromHome"].head()

In [ ]:
df_copy["RangeTOffice"]=pd.cut(df["DistanceFromHome"],bins=[0,10,20,29],labels=["Near","Average","Far"])
print(df_copy["RangeTOffice"].tail())

In [ ]:
print(df_copy["Age"].head())
df_copy["age_group"]=pd.cut(df["Age"],bins=[14,20,25,45,60],labels=["Entry_level","Mid_level","Senior_level","Experienced"])
#bins le group banauxa, like 15-20...etc, ani labels le Tyo group ko person lai grouping garxa, like 15-19 are Entry level
print(df_copy["age_group"].head())

In [ ]:
df_copy["MonthlyIncome"]=np.log(df_copy["MonthlyIncome"])
df_copy["MonthlyIncome"].head()
sns.boxplot(df_copy["MonthlyIncome"])

In [ ]:
print(df_copy["StockOptionLevel"].unique())
df_copy["PerformanceRating"]=df_copy["PerformanceRating"].mean()
print(df_copy["PerformanceRating"])
sns.boxplot(df["PerformanceByRating"])

In [ ]:
df_copy["YearsAtCompany"]=np.log(df_copy["YearsAtCompany"])
df_copy["MonthlyIncome"].head()
sns.boxplot(df_copy["MonthlyIncome"])

In [ ]:
df_copy = handle_outliers_capping(df_copy, 'YearsInCurrentRole')

# You can optionally check for outliers again after capping to see the effect
for i in ['YearsInCurrentRole']: # Check only the modified column
  q1 = df_copy[i].quantile(0.25)
  q3 = df_copy[i].quantile(0.75)
  iqr = q3 - q1
  lower_bound = q1 - iqr * 1.5
  upper_bound = q3 + iqr * 1.5

  outliers = df_copy[(df_copy[i] < lower_bound) | (df_copy[i] > upper_bound)]
  if not outliers.empty:
    print(f"Outliers found in column '{i}' after capping: ")
  else:
    print(f"No outliers found in column '{i}' after capping.")

# You can also visualize the distribution after handling outliers
sns.boxplot(df_copy['YearsInCurrentRole'])

In [ ]:
#Seeing mental health status
df_copy["Temp"]=df["JobSatisfaction"]+df["WorkLifeBalance"]
# Fix: Apply the condition row by row to assign "Stable" or "Unstable"
df_copy["MentalHealth"] = pd.cut(df_copy["Temp"], bins=[0,4,6,8],labels=["Unstable","Average","Stable"])
print(df_copy["MentalHealth"])

In [ ]:

# 6. Feature based on work-life balance (creating a simple composite score)
# Normalize or scale if necessary before summing, but for simplicity, we'll just sum
# Note: This is a very basic example. A more sophisticated approach might involve different weights or interactions.
df_copy['WorkLifeBalance_Score'] = df_copy['RelationshipSatisfaction'] + df_copy['EnvironmentSatisfaction'] - df_copy['OverTime'] - df_copy['BusinessTravel'] # Assuming higher values for satisfaction are good, and higher values for overtime/travel are bad after mapping
print("\nWork-life balance score feature created.")
print(df_copy[['RelationshipSatisfaction', 'EnvironmentSatisfaction', 'OverTime', 'BusinessTravel', 'WorkLifeBalance_Score']].head())